cycler==0.10.0
DateTime==4.3
h5py==2.10.0
joblib==0.14.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
matplotlib==3.1.2
numpy==1.18.1
pylab==0.0.2
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
pyusb==1.0.2
PyVISA==1.10.1
PyVISA-py==0.3.1
PyYAML==5.3
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
sklearn==0.0
zope.interface==4.7.1
